{% extends 'layout.html' %}

{% block body %}


<div>
{% if articles %}
    {% for article in articles  %}


    <div class="row" style="padding-left:100px">
    <div class="col-md-10 offset-md-2">
        <!-- Post Content Column -->
        <div class="col-lg-8">

            <!-- Title -->
            <a href="/articles/article/{{article.id}}"><h3 class="mt-4">{{article.title}}</h3></a>

            <hr>

            <!-- Preview Image -->
            {% if article.article_image %}
            <a href="/articles/article/{{article.id}}"><img class="img-fluid rounded" src="{{article.article_image.url}}" alt=""></a>
            {% endif %}
            <hr>
            <!-- Author -->
            <p class="text-left">
            {{article.created_date}} tarihinde
            <a href="#">{{article.author}}</a> Tarafından yayınlandı.
            </p>

            <!-- Post Content -->
            <p class="lead">
            {{article.content|safe|truncatewords:50}}
            <a href="/articles/article/{{article.id}}" class="btn btn-link">Devamını Oku</a>
            
            </p>

            <hr>
            </div>
        </div>
        </div>
    {% endfor %}    
{% else %}
        <div class="alert alert-danger">
            Makale yok
        </div>
{% endif %}








{% endblock body %}






