<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    <title>Ertekin Blog</title>
</head>
<body style="background-color:#bd2130">
    
    {% include "includes/navbar.html"  %}

    <div style="margin-top : 100px;" class="jumbotron text-center container">
    {% if messages %}
        
            {% for message in messages %}
            {% if message.tags == "info" %}
                <div class="alert alert-danger">{{ message }}</div>
            {% else %}
                <div{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</div>
            {% endif %}
                
            {% endfor %}
        
        {% endif %}
        {% block body %}
        
        
        {% endblock body %}


    </div>
    <script src="{% static 'js/jquery-3.2.1.slim.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>